body {
    --bg-color: #060670;
    --primary-color: #75c5bc;
}

.app.dark {
    --bg-color: #060670;
    --inverted-bg-color: #afafcf;

    --primary-color: #75c5bc;
    --secondary-color: #25eb60;

    --inverted-primary-color: #4467aa;
    --inverted-secondary-color: #12bcc2;
}
