.app.light {
    --bg-color: #afafcf;
    --inverted-bg-color: #060670;

    --primary-color: #4467aa;
    --secondary-color: #12bcc2;

    --inverted-primary-color: #75c5bc;
    --inverted-secondary-color: #25eb60;
}
